## first code in wiston

In [1]:
# The code was removed by Watson Studio for sharing.

                     Date  Fremont Bridge NB  Fremont Bridge SB
0  10/02/2012 12:00:00 AM                0.0                0.0
1  10/02/2012 01:00:00 AM                0.0                0.0
2  10/02/2012 02:00:00 AM                0.0                0.0
3  10/02/2012 03:00:00 AM                0.0                0.0
4  10/02/2012 04:00:00 AM                0.0                0.0

In [3]:
unique(df_data_1)

NameError: name 'unique' is not defined